<h1>First user</h1>

<p>short description of our first user</p>

<ul>
  <li>Name: {{ name }}</li>
  <li>Age: {{ age }}</li>
  <li>Email: {{ email }}</li>
  <li>Hobby: {{ hobby.hobby1 }}, {{ hobby.hobby2 }}, {{ hobby.hobby3 }}</li>
</ul>
<button (click)="onClick()">don't press me</button>

<h1>Emmet</h1>
<form action="">
  <div>
    <label for=""><input type="text" /></label>
  </div>
  <div>
    <label for=""><input type="text" /></label>
  </div>
  <div>
    <label for=""><input type="text" /></label>
  </div>
  <div>
    <label for=""><input type="text" /></label>
  </div>
  <div>
    <label for=""><input type="text" /></label>
  </div>
  <div>
    <label for=""><input type="text" /></label>
  </div>
</form>
