<h1>First user</h1>

<p>short description of our first user</p>

<ul>
  <li>Name: {{ name }}</li>
  <li>Age: {{ age }}</li>
  <li>Email: {{ email }}</li>
  <li>Hobby: {{ hobby.hobby1 }}, {{ hobby.hobby2 }}, {{ hobby.hobby3 }}</li>
</ul>
<button (click)="onClick()">don't press me</button>

<h1>Editer</h1>
<form action="">
  <div>
    <label for="nom">Nom<input type="text" [(ngModel)]="name" name="name" /></label>
  </div>
  <div>
    <label for="age">Age<input type="number" [(ngModel)]="age" name="age"/></label>
  </div>
  <div>
    <label for="email">Email<input type="email" [(ngModel)]="email" name="email"/></label>
  </div>
  <div>
    <label for="hobby1">Hobby1<input type="text" [(ngModel)]="hobby.hobby1" name="hobby1"/></label>
  </div>
  <div>
    <label for="hobby2">Hobby2<input type="text" [(ngModel)]="hobby.hobby2" name="hobby2"/></label>
  </div>
  <div>
    <label for="hobby3">Hobby3<input type="text" [(ngModel)]="hobby.hobby3" name="hobby3"/></label>
  </div>
</form>
